# MongoDB Connection
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/wat-tepborey

# JWT Secret (ផ្លាស់ប្ដូរជា string វែងៗ)
JWT_SECRET=your_super_secret_key_change_this

# Gmail (សម្រាប់ OTP Email)
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_gmail_app_password

# Port
PORT=5000
